body {
    background-color: black;
    color: white;
}

/* Formatando as caixas de textos importantes */
.importante {
    background-color: rgb(190, 161, 161);
    border: 3px solid rgb(148, 142, 142);
    font-weight: bold;
    text-align: center;
    width:max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    
}

/* Formatando Imagens ao longo do conteúdo */
.imagens {
    background-color: rgb(190, 161, 161);
    border: 3px solid rgb(148, 142, 142);
    width:max-content;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilizando Tabelas */
.secao-tabelas {
    background-color: rgb(190, 161, 161);
    border: 4px solid rgb(148, 142, 142);
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.secao-tabelas header{
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;  
}
.conteudo-tabela, tr, td, th {
    border: 1px solid white; 
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
/* Formatar a largura das colunas da tabela */
.tabela-comandos-coluna-1 {
    width: 10px;
}
.tabela-comandos-coluna-2 {
    width: 150px;
}
.tabela-comandos-coluna-3 {
    width: 800px;
}
/* Formatar a seção de propriedades dos comandos */
.propriedades {
    display: block;
    text-align: left;
}

/* Formatando o cabeçalho */
.formatar-header-footer {
    background-color: rgb(190, 161, 161);
    padding: 5px;
    border: 4px solid rgb(148, 142, 142);
    position:fixed;
    z-index: 999;
    width: 100%;

    /* Posicionando Header */
    left: 0;
    top: 0;
}
.formatar-header-footer h1{
    text-align: center;
    text-decoration: underline;
}


/* Formatando Navegação */
nav {
    /* Estilizando Seção de Navegação */
    background-color: rgb(32, 36, 36);
    padding: 10px;
    border: 4px solid rgb(148, 142, 142); 
    
    font-size: 14px;
    /* Posicionando Navegação */
    display: inline-block;
    position: fixed;
    top: 95px;
    left: 0;
    
    /* Dimensionando Navegação */
    width: 12em;
    height: 50em;
}
nav a {
    display: block;
    color: white;
    text-decoration: none;
}
nav a:hover {
    font-weight: 900;
    font-size: 18px;
}

.titulo-modulo{
    text-align: center;
    background-color: rgb(32, 36, 36);
    padding: 20px;
    border: 4px solid rgb(148, 142, 142); 
    font-size: 34px;
}
main {
    display: inline-block;
    position: relative;
    width: 90%;
    top: 59px;
    left: 200px;
    
}

.formatar-secao {
    background-color: rgb(32, 36, 36);
    padding: 20px;
    border: 4px solid rgb(148, 142, 142);   
    width: 100%;
}

main section section h2 {
    text-align: center;
    text-decoration:underline;
}